:root {
  --headings-font-family: "Inter", sans-serif;
  --p-font-family: Georgia, "Times New Roman", Times, serif;
  --primary-color: #013a4d;
  --secondary-color: #7e8294;
  --accent-color: #037992;
}
/* figure out header wihtout using absolute positioning */
nav ul {
  position: absolute;
  top: 1%;
  left: 40%;
  list-style: none;
  text-align: center;
  word-spacing: 2rem;
  text-transform: lowercase;
  font-size: 0.75rem;
}
li {
  display: inline-block;
  letter-spacing: 0.25rem;
}
nav li a {
  color: var(--primary-color);
  text-decoration: none;
}
a:visited {
  color: var(--accent-color);
}
nav li:hover {
  color: var(--secondary-color);
  transition: ease-in-out 200ms;
  transform: skew(-5deg);
  letter-spacing: 0.5rem;
}
main img {
  width: 100%;
  height: auto;
}
h1 {
  font-size: 10rem;
  text-transform: uppercase;
  color: var(--primary-color);
}
h6 {
  font-size: 1.5rem;
  color: var(--secondary-color);
  letter-spacing: 0.25rem;
}
section p {
  color: var(--primary-color);
  background-color: #cacddc;
  padding: 3rem;
  border-radius: 2rem 8rem 22rem 6rem;
  letter-spacing: 0.08rem;
}
section {
  display: inline-flex;
  word-wrap: normal;
  padding-top: 2rem;
}
footer i {
  color: var(--heading-color);
  padding-right: 0.5rem;
}
footer i:hover {
  transform: rotate(360deg);
  transition: 3s;
}
footer {
  margin: 2rem 1.5rem;
  text-align: right;
  font-size: 0.65rem;
  color: var(--secondary-color);
  letter-spacing: 0.05rem;
}
footer a {
  text-decoration: none;
  color: var(--primary-color);
}
footer a:hover {
  font-weight: bold;
  text-transform: uppercase;
  transition: ease-in-out 200ms;
  text-decoration: none;
}
footer .coder-social:hover {
  color: var(--secondary-color);
}
footer i {
  font-size: 1.5rem;
  padding: 0.5rem 0.1rem;
}
.main-container {
  position: relative;
  font-family: var(--headings-font-family);
}
.main-title {
  position: absolute;
  top: 25%;
  left: 3%;
  line-height: 0.5rem;
  font-weight: 200 !important;
}
.main-p {
  left: 3%;
}

.trails {
  text-align: center;
  font-size: 1.1rem;
  color: var(--primary-color);
  letter-spacing: 0.08rem;
  display: flex;
  justify-content: center;
}
.trails-bottom {
  margin-bottom: -20rem;
}
.divider-icon {
  visibility: hidden;
  display: block;
  text-align: center;
  margin: 2.2rem 1rem 0rem 1rem;
}
.arrow {
  display: block;
  text-align: right;
  padding: 0 2rem;
}
.fa-arrow-up {
  color: var(--primary-color);
}
.main-p,
#weather {
  position: absolute;
  letter-spacing: 0.15rem;
  color: #fff;
  font-weight: 100;
  font-size: 1rem;
  bottom: 3%;
}
#weather {
  text-align: right;
  right: 3%;
}

#nature p,
#population p,
#visit p {
  margin: 8rem 3rem;
}
/* #population {
        margin-top: -5rem;
      } */
#nature img,
#visit img {
  object-fit: cover;
  width: 550px;
  height: 450px;
  border-radius: 100px;
}

#visit {
  margin-top: -2rem;
}

#hike img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  margin-top: 5rem 0;
}

/* #hike img:hover {
        transform: scale(1.25);
        height: 20%;
        margin: 3rem;
        transition: ease-in-out 2s;
      } */

#night img {
  width: 100%;
  height: auto;
  margin-top: 6rem;
}

.hike-title {
  text-align: center;
  padding: 2rem;
}
@media (min-width: 1000px) {
  .hike-title,
  .trails {
    display: flex;
    justify-content: center;
    line-height: 2rem;
  }
  .hike-title {
    margin: 3rem 0;
    font-size: 2rem;
  }
  .trails {
    font-size: 1.25rem;
  }
}

@media (max-width: 1000px) {
  h1 {
    font-size: 7rem;
  }
  .main-p,
  #weather {
    font-size: 0.65rem;
  }
  nav ul {
    left: 25%;
  }
  #hike,
  #nature,
  #visit {
    margin: -1rem auto;
  }
  #visit p,
  #nature p {
    margin: 1rem auto;
  }
}
@media (min-width: 767px) {
  #hike p {
    text-align: center;
    justify-content: center;
    display: flex;
  }
  #population p,
  #population img {
    visibility: hidden;
  }
  /* #population img {
          border-radius: 0;
          width: 100%;
          object-fit:cover;
        } */
}
@media (max-width: 800px) {
  h1 {
    font-size: 5rem;
  }
  section {
    margin: 5px auto;
  }
  p {
    font-size: 0.65rem;
  }
  .divider-icon {
    visibility: visible;
  }

  #nature img,
  #visit img {
    padding: 1.5rem;
  }

  #nature p,
  #visit p {
    margin: 1.5rem;
  }
  .trails-bottom {
    margin-bottom: 4rem;
  }
}
